HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Maven ###
.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Compiled files ###
*.class

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Logs ###
*.log

### BlueJ files ###
*.ctxt

### Mobile Tools for Java (J2ME) ###
.mtj.tmp/

### VM crash logs ###
hs_err_pid*
replay_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db